node_modules
.DS_Store
.idea
.vscode
npm-debug.log
client/.idea
client/.DS_Store
client/node_modules
server/config/mysqlCredentials.js
server/config/facebookCreds.js
server/config/nodemailerConfig.js
server/errorLogs/consoleError.log
server/errorLogs/serverError.log
server/npm-debug.log
server/node_modules