.createEvent {
    position: relative;
}

.mapView {
    width: 100%;
    height: 100%;
}

.createMap {
    height: 100%;
    width: 100%;
    border: 1px solid #428bca;
}

.locationForm {
    height: 100%;
    width: 100%;
}

.locationFormComp:first-child {
    padding-top: 1%;
}

.locationFormComp {
    height: 50vmin;
    margin: 1% 0;
}

.locationPadding {
    padding-top: 10%;
}

.leftOfMap {
    margin-top: 1%;
}

.form-group {
    margin: 1% 0;
}

.formBtns {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 2% 0 4%;
}

.maxSizeNote {
    color: gray;
    display: inline-block;
    float: right;
    margin-right: 2%;
}

.descBox {
    padding: 1% 3%;
}


@media screen and (max-width: 767px) {
    .allSelect {
        display: block;
        height: auto;
    }

    .allSelect > label {
        margin: 0 0 5px 5%;
    }

    .selectInput {
        margin: 0;
    }

    .locationPadding {
        padding: 0;
    }

    .locationFormComp {
        padding: 0;
    }
    
    .leftOfMap {
        padding: 0;
    }

    .maxSizeNote {
        color: gray;
        display: inline-block;
        margin: 0 0 0 5%;
        float: left;
    }
    
    .dateTime {
        padding: 0;
    }

    .selectDivContainer > select {
        margin-bottom: 10px
    }
}
